/* https://codepen.io/decemberly/pen/JOrBxo */

/*用于自定义外部链接外观的css 配合markdown-it-external-links*/

.link-external {
    color: black;
    border-bottom: 0.1em solid #669900;
    outline: 1em solid rgba(255, 215, 0, 0);
    text-decoration: none;
    transition: all 0.3s ease;
}
.link-external:hover, .link-external:focus, .link-external:active {
    background: #b5ca4226;
    outline: 0.1em solid #b5ca4226;
}