.bilibili_box {
    display: flex;
    background: var(--card-bg);
    border: 1px solid #e0e3ed;
    border-radius: 10px;
    overflow: hidden;
    color: var(--font-color) !important;
    text-decoration: none !important;
    transition: .3s;
}
.bilibili_box:hover {
    border-color: #4976f5;
}
@media (max-width: 768px) {
    .bilibili_box {
        flex-direction: column;
    }
}
.bilibili_box .bilibili_cover {
    width: 234px;
    position: relative;
}
@media (max-width: 768px) {
    .bilibili_box .bilibili_cover {
        width: 100%;
    }
}
.bilibili_box .bilibili_cover img {
    width: 100%;
    filter: none;
    margin: 0 !important;
    border-radius: 0 !important;
}
.bilibili_box .bilibili_cover .play_icon {
    position: absolute;
    width: 45px;
    height: 45px;
    opacity: .8;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bilibili_box .bilibili_cover span {
    position: absolute;
    bottom: 0px;
    right: 5px;
    color: white;
    text-shadow: 0 1px 3px #7a7a7a;
}
.bilibili_box .bilibili_info {
    padding: 10px 10px 10px 18px;
    line-height: 1;
    width: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
@media (max-width: 768px) {
    .bilibili_box .bilibili_info {
        width: 100%;
        padding-bottom: 25px;
        line-height: 1.5;
    }
}
.bilibili_box .bilibili_info .title {
    font-size: 1.2rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
}
.bilibili_box .bilibili_info .desc {
    font-size: 15px;
    margin: 2px 0 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media (max-width: 768px) {
    .bilibili_box .bilibili_info .desc {
        white-space: normal;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
}
.bilibili_box .bilibili_info .stat {
    font-size: 15px;
}
.bilibili_box .bilibili_info .stat svg {
    margin-right: 3px;
    font-size: 18px;
    width: 1em;
    height: 1em;
}
.bilibili_box .bilibili_info .stat svg path {
    fill: var(--font-color);
}
.bilibili_box .bilibili_info .stat span {
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
}
.bilibili_box .bilibili_info .owner {
    display: flex;
    align-items: center;
    line-height: 1;
    font-size: 15px;
}
.bilibili_box .bilibili_info .owner .tip {
    color: #FF6699;
    border: 1px solid;
    padding: 3px 6px;
    font-size: 12px;
    border-radius: 5px;
    margin-right: 10px;
}
.bilibili_box .bilibili_info .owner img {
    width: 22px;
    height: 22px;
    border-radius: 50% !important;
    object-fit: cover;
    margin: 0 5px 0 0 !important;
}
[data-theme='light'] .bilibili_box .bilibili_info .stat svg {
    opacity: .8;
}
[data-theme='dark'] .bilibili_cover {
    opacity: .8;
}
